@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');
.about {
  background-color: var(--secondary-bg);
  color: var(--text-color-dark);
  padding: 5rem 2rem;
}

.about-container {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

.about-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  object-fit: cover;
}

.about-text {
  flex: 1;
  min-width: 300px;
}

.about-text h2 {
  font-family:  "Playwrite NZ Basic", cursive;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--accent-color);
}

.about-text p {
  font-family: var(--font-body);
  line-height: 1.7;
  margin-bottom: 1rem;
}

.about-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 1.6rem;
  background-color: var(--accent-color);
  color: white;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.about-btn:hover {
  opacity: 0.9;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    gap: 2rem;
  }
}