@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');
.product-menu {
  padding: 5rem 2rem;
  text-align: center;
}
.product-menu h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-family: "Playwrite NZ Basic", cursive;
  font-weight: 900;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.product-card {
  background: var(--secondary-bg);
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  position: relative;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-img {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card h4 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: var(--text-color-dark);
  font-weight: 600;
}

.product-card p {
  font-size: 0.95rem;
  color: var(--text-color-light);
  margin-bottom: 0.5rem;
}

.price {
  font-weight: 600;
  color: var(--accent-color);
}

.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--accent-color);
  color: #121212;
  padding: 0.3rem 0.6rem;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 8px;
}

/* Mobile Responsive */
@media (max-width: 992px) {
  .products-grid {
    gap: 1.5rem;
  }
}

@media (max-width: 576px) {
  .products-grid {
    grid-template-columns: 1fr;
  }

  .product-card {
    width: 90%;
    margin: 0 auto;
  }
}